################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VoiceProximityMeasurement/.editorconfig
/VoiceProximityMeasurement/VoiceProximityMeasurement.csproj
